<div class="container-fluid">
    <section class="menu-principal py-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-12 col-md-12 px-4">
                    <div class="row pr-3">
                        <!-- SECCION TAREAS-->
                        <div class="col-12 rounded bg-white">
                            <div class="p-4 pt-">
                                <p class="h4">Nueva tarea</p>
                                <div class="line my-4" style="background: rgb(230, 230, 230);"></div>
                                <form>
                                    <div class="form-group">
                                        <label for="task">Nombre</label>
                                        <input id="task" name="task" type="text" class="form-control input" placeholder="Nombre tarea">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Descripción</label>
                                        <textarea id="description" name="description" class="form-control input" rows="6" placeholder="Descripción"></textarea>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label for="responsable">Responsable</label>
                                                <select class="form-control" name="responsable" id="responsable">
                                                    <option selected>Seleccionar</option>
                                                    <option value="1">Ana Trujillo</option>
                                                    <option value="2">Giovanni Rovelli</option>
                                                    <option value="3">Jaime Yorres</option>
                                                    <option value="4">John Steel</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col">
                                            <label for="prioridad">Prioridad</label>
                                            <select class="form-control" name="prioridad" id="prioridad">
                                                <option selected>Seleccionar</option>
                                                <option value="1">Alta</option>
                                                <option value="2">Media</option>
                                                <option value="3">Baja</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <label for="date">Fecha</label>
                                            <input type="text" placeholder="Fecha" name="date" class="form-control" id="datepicker">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comentarios">Comentarios</label>
                                        <textarea class="form-control input" name="comentarios" id="comentarios" rows="3" placeholder="Descripción"></textarea>
                                    </div>
                                    <div id="bottombuttons">
                                        <span id="clean">Limpiar Datos</span>
                                        <input class="submit opcion-selecccionada" type="submit" value="Publicar">
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 rounded bg-white mt-4">
                            <div class="p-4 pt-">
                                <div class=" d-flex flex-row ">
                                    <p class="h4">Interfaz grafica</p>
                                    <p class="ml-3 px-3 text-white rounded-pill text-center " style="background: rgb(0,156,221);">En progreso</p>
                                    <p class="ml-3  px-3 text-white rounded-pill text-center " style=" background: rgb(147,1,1);">Alta</p>
                                    <i class="ml-3 fas far fa-calendar-alt" style="font-size: 1.5rem; color:rgb(117, 117, 117);"></i>
                                    <p class="ml-1 " style="color:rgb(117, 117, 117);">10 / 03 / 2020</p>
                                    <p class="ml-3" style="color:rgb(117, 117, 117);">#123456789</p>
                                </div>
                                <div class="line  my-4" style="background: rgb(230, 230, 230);"></div>
                                <form action="">

                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ex nemo mollitia porro error rem soluta similique recusandae, et ducimus esse minima, sit nesciunt libero magni architecto consequuntur odit officia. Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Amet aspernatur animi, eveniet quo quia, velit soluta voluptate ex nam eius optio laboriosam nulla sapiente at deserunt dolorem expedita, architecto nostrum. Lorem
                                        ipsum dolor sit amet consectetur adipisicing elit. Molestiae tenetur eaque amet itaque corporis dolor officiis modi distinctio illum facere, magni obcaecati mollitia, aliquid, eligendi voluptates asperiores a ullam
                                        error?
                                    </p>

                                    <div class="line  my-4" style="background: rgb(230, 230, 230);"></div>

                                    <h5 class="my-4">Responsables</h5>

                                    <div class="row">
                                        <div class="col-1 text-center mx-1">
                                            <img src="/images/mar.png" style="width: 60px;" alt="">
                                            <p style="color: rgb(97, 97, 97);">Renato</p>
                                        </div>
                                        <div class="col-1 text-center mx-1"><img src="/images/mar.png" style="width: 60px;" alt="">
                                            <p style="color: rgb(97, 97, 97);">Guillermo</p>
                                        </div>
                                        <div class="col-1 text-center mx-1"><img src="/images/mar.png" style="width: 60px;" alt="">
                                            <p style="color: rgb(97, 97, 97);">Viñas</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>